node_modules/
**/node_modules/
.DS_Store
frontend/.angular/
dist/
tmp/
out-tsc/
bazel-out/
npm-debug.log
yarn-error.log
.idea/
.vscode/
.history/
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
Thumbs.db
